:root {
  --white: hsl(0, 100%, 100%);
  --purple-100: hsl(275, 100%, 97%);
  --purple-600: hsl(292, 16%, 49%);
  --purple-950: hsl(292, 42%, 14%);
  --blue: hsl(228, 45%, 44%);
  --accent: hsl(281, 83%, 54%);
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  color: var(--purple-950);
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 0.9375rem;
  line-height: 1.5;
  color: var(--purple-600);
}

body {
  display: flex;
  justify-content: center;
  margin-top: 145px;
  height: 100vh;
  background-color: var(--purple-100);
  background-image: url("./assets/images/background-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.accordion-container {
  min-width: 330px;
  width: min(calc(100dvw - 45px), 540px);
  padding: 20px;

  border-radius: 10px;
  background-color: var(--white);
}

.accordion-title {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 5px 0;
}

.accordion-title img {
  width: 25px;
  height: auto;
  margin: 0 20px 0 0;
}

.accordion-entry-container {
  margin: 20px 0;
}

.accordion-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.accordion-header h2 {
  font-size: 1rem;
  font-weight: 600;
  text-align: start;
}

button {
  background: none;
  border: none;
  height: 100%;
}

button:hover {
  cursor: pointer;
  color: var(--accent);
}

.accordion-body {
  display: none;
  height: 0;
}

.active-item {
  display: initial;
  height: initial;
}

hr {
  border: 0;
  border-top: 2px solid var(--purple-100);
}

.attribution {
  margin-top: 10px;
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: var(--blue);
}

@media print {
  .accordion-body {
    display: initial;
    height: initial;
  }
}

@media screen and (min-width: 640px) {
  body {
    background-image: url("./assets/images/background-pattern-desktop.svg");
  }
}
